$font-header: 'Roboto Condensed',
sans-serif;

$color-yellow: #fef0d5;
$color-blue: #235C55;
$color-red: #D81e5d;

.header-region {
  background: $color-yellow;
  display: flex;
  align-items: center;
  padding: 10px;

  .site-name {
    margin-left: 20px;
  }

  .share-calendar {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

}

.site-name {
  font-family: $font-header;
  color: $color-blue;

  .title {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .description {
    font-size: 16px;
    margin-top: 0;
  }

}

.main-button {
  background: $color-red;
  font-family: sans-serif;
  text-decoration: none;
  color: #FFE6DE;
  padding: 5px 11px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
  margin: 3px;
}

.site-logo {

  .image {
    width: 95px;
  }

}